<div id="webcrumbs">
  <div class="bg-white flex justify-center pt-16 min-h-screen">
    <div class="">
      <header class="flex items-center justify-between mb-8">
        <h1 class="text-2xl font-bold tracking-tight">Minhas Refeições</h1>
      </header>

      <div class="flex items-center justify-between mb-8">
        <button (click)="goPreviousDay()" class="p-2 hover:bg-gray-200 rounded-full transition-colors">
          <span class="material-symbols-outlined">arrow_back_ios</span>
        </button>

        <div class="flex items-center gap-2">
          <input type="date"
                 class="p-2 rounded-lg border border-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 hover:border-gray-300 transition-all"
                 [ngModel]="selectedDate"
                 (ngModelChange)="onDateChange($event)"/>
        </div>

        <button (click)="goNextDay()" class="p-2 hover:bg-gray-200 rounded-full transition-colors">
          <span class="material-symbols-outlined">arrow_forward_ios</span>
        </button>
      </div>

      <div class="grid grid-cols-3 gap-5 mb-8">
        <!-- Card Proteína -->
        <div class="bg-gray-50 p-5 rounded-lg hover:shadow-md transition-all duration-300">
          <div class="flex justify-between mb-2">
            <span class="font-medium text-xs">Proteína</span>
          </div>
          <div class="text-xs text-gray-500 mb-3">Total: {{ consumedProtein }}g</div>
          <div class="text-xs text-gray-500 mb-3">Meta: {{ protein }}g</div>
          <div class="h-2.5 bg-gray-200 rounded-md overflow-hidden">
            <div class="h-full bg-blue-500 rounded-md transition-all duration-500 hover:opacity-80"
                 [ngStyle]="{'width': getProteinProgress() + '%'}"></div>
          </div>
        </div>

        <!-- Card Carboidratos -->
        <div class="bg-gray-50 p-5 rounded-lg hover:shadow-md transition-all duration-300">
          <div class="flex justify-between mb-2">
            <span class="font-medium text-xs">Carboidratos</span>
          </div>
          <div class="text-xs text-gray-500 mb-3">Total: {{ consumedCarbohydrates }}g</div>
          <div class="text-xs text-gray-500 mb-3">Meta: {{ carbohydrates }}g</div>
          <div class="h-2.5 bg-gray-200 rounded-md overflow-hidden">
            <div class="h-full bg-orange-500 rounded-md transition-all duration-500 hover:opacity-80"
                 [ngStyle]="{'width': getCarbohydratesProgress() + '%'}"></div>
          </div>
        </div>

        <!-- Card Gordura -->
        <div class="bg-gray-50 p-5 rounded-lg hover:shadow-md transition-all duration-300">
          <div class="flex justify-between mb-2">
            <span class="font-medium text-xs">Gordura</span>
          </div>
          <div class="text-xs text-gray-500 mb-3">Total: {{ consumedFat }}g</div>
          <div class="text-xs text-gray-500 mb-3">Meta: {{ fat }}g</div>
          <div class="h-2.5 bg-gray-200 rounded-md overflow-hidden">
            <div class="h-full bg-red-500 rounded-md transition-all duration-500 hover:opacity-80"
                 [ngStyle]="{'width': getFatProgress() + '%'}"></div>
          </div>
        </div>
      </div>

      <!-- Total Diário -->
      <div class="bg-gray-50 p-5 rounded-lg mb-8 hover:shadow-md transition-all duration-300">
        <div class="flex justify-between mb-2">
          <span class="font-semibold">Total Diário</span>
          <span class="font-medium">{{ consumedCalories }} kcal</span>
        </div>
        <div class="text-sm text-gray-500 mb-3">Meta: {{ goal.calories }} kcal</div>
        <div class="h-2.5 bg-gray-200 rounded-md overflow-hidden">
          <div class="h-full bg-green-500 rounded-md transition-all duration-500 hover:opacity-80"
               [ngStyle]="{'width': getCaloriesProgress() + '%'}"></div>
        </div>
      </div>

      <!-- Lista de Refeições -->
      <div class="space-y-5">
        <div *ngIf="mealsFromAPI && mealsFromAPI.length > 0; else noMeals">
          <div *ngFor="let meal of mealsFromAPI"
               class="relative p-5 bg-gray-50 rounded-lg mb-8 hover:shadow-md transition-all duration-300"
               (mousedown)="onMealPressStart(meal.id)" (touchstart)="onMealPressStart(meal.id)"
               (mouseup)="onMealPressEnd()" (mouseleave)="onMealPressEnd()" (touchend)="onMealPressEnd()">
            <h3 class="font-semibold text-lg">{{ meal.mealName }}</h3>
            <p class="text-gray-600">Calorias: {{ meal.calories }} kcal</p>
            <div class="flex gap-4 mt-2">
              <span class="text-sm text-gray-500">Proteína: {{ meal.protein }}g</span>
              <span class="text-sm text-gray-500">Carboidratos: {{ meal.carbohydrates }}g</span>
              <span class="text-sm text-gray-500">Gordura: {{ meal.fat }}g</span>
            </div>
            <div *ngIf="activeDeleteMeal === meal.id"
                 class="absolute inset-0 bg-primary-500 bg-opacity-80 flex flex-col items-center justify-center rounded-lg p-4"
                 (click)="$event.stopPropagation()">
              <p class="text-white font-bold mb-4 text-center">Deseja realmente excluir esta refeição?</p>
              <div class="flex gap-4">
                <button (click)="confirmDeleteMeal(meal.id)"
                        class="bg-white text-primary-500 px-4 py-2 rounded shadow hover:bg-gray-100 transition-colors">
                  Sim
                </button>
                <button (click)="cancelDeleteMeal()"
                        class="bg-white text-primary-500 px-4 py-2 rounded shadow hover:bg-gray-100 transition-colors">
                  Não
                </button>
              </div>
            </div>

          </div>
        </div>
        <ng-template #noMeals>
          <p class="text-center text-gray-500">Nenhuma refeição encontrada.</p>
        </ng-template>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
