<div id="webcrumbs">
  <div
    class="w-full h-screen bg-white shadow-lg rounded-none p-10 flex items-center justify-center animate-pulse-on-mount">
    <div class="w-[400px]">
      <h1 class="text-3xl font-title font-bold text-neutral-950 mb-8 text-center">Login</h1>
      <form class="space-y-6" (submit)="onSubmit()">
        <div>
          <label for="email" class="block text-neutral-700 font-medium mb-2">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Digite seu email"
            class="w-full py-3 px-4 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 transition-all duration-300"
            [(ngModel)]="user.email"
            name="email"
            required
          />
        </div>
        <div>
          <label for="password" class="block text-neutral-700 font-medium mb-2">Senha</label>
          <input
            type="password"
            id="password"
            placeholder="Digite sua senha"
            class="w-full py-3 px-4 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary-500 transition-all duration-300"
            [(ngModel)]="user.password"
            name="password"
            required
          />
        </div>
        <button
          type="submit"
          class="w-full bg-primary-500 text-primary-50 py-3 rounded-md font-bold text-lg hover:bg-primary-600 active:scale-95 transform transition-all duration-300"
        >
          Entrar
        </button>
      </form>
    </div>
  </div>
</div>
