<div class="w-full h-screen bg-white shadow rounded-lg p-4 flex flex-col items-center justify-between">
  <h2 class="font-title text-lg text-center text-neutral-950">
    Resultados dos Macronutrientes
  </h2>
  <p class="text-neutral-700 mt-2 text-center">
    Hambúrguer caseiro com queijo
  </p>

  <!-- Cards com altura ajustada -->
  <div class="mt-4 space-y-3 w-full flex flex-col items-center flex-grow">
    <div class="bg-primary-50 rounded-md p-1 flex flex-col items-center w-full max-w-[200px] h-16">
      <p class="text-neutral-700">Proteínas</p>
      <p class="text-primary-500 font-bold text-lg">30g</p>
    </div>
    <div class="bg-primary-50 rounded-md p-1 flex flex-col items-center w-full max-w-[200px] h-16">
      <p class="text-neutral-700">Carboidratos</p>
      <p class="text-green-500 font-bold text-lg">25g</p>
    </div>
    <div class="bg-primary-50 rounded-md p-1 flex flex-col items-center w-full max-w-[200px] h-16">
      <p class="text-neutral-700">Gorduras</p>
      <p class="text-amber-500 font-bold text-lg">15g</p>
    </div>
    <div class="bg-primary-50 rounded-md p-1 flex flex-col items-center w-full max-w-[200px] h-16">
      <p class="text-neutral-700">Calorias</p>
      <p class="text-neutral-950 font-bold text-lg">400 kcal</p>
    </div>
  </div>

  <!-- Gráfico de Pizza -->
  <div class="w-full mt-6">
    <apx-chart [series]="chartOptions.series"
               [chart]="chartOptions.chart"
               [labels]="chartOptions.labels"
               [colors]="chartOptions.colors"
               [legend]="chartOptions.legend"
               [dataLabels]="chartOptions.dataLabels">
    </apx-chart>
  </div>

  <!-- Botões com altura ajustada -->
  <div class="w-full space-y-2 mt-6">
    <button class="bg-primary-500 text-primary-50 font-medium rounded-md w-full py-2">
      Salvar
    </button>
    <button class="bg-neutral-900 text-neutral-50 font-medium rounded-md w-full py-2">
      Novo Registro
    </button>
  </div>
</div>
