<div id="webcrumbs">
  <div class="w-full max-w-[360px] bg-white shadow-lg rounded-lg p-4 mx-auto">
    <header class="text-center mb-6"><h1 class="text-2xl font-title text-neutral-950">Resultados dos
      Macronutrientes</h1></header>
    <section class="flex flex-col items-center gap-2 mb-4"><h2 class="text-lg font-bold text-neutral-950 text-center">
      Hambúrguer caseiro com queijo </h2></section>
    <section class="mb-6">
      <div class="grid grid-cols-1 gap-2">
        <div class="bg-primary-50 rounded-md p-3 text-center"><h3 class="text-neutral-950">Proteínas</h3>
          <p class="text-xl font-bold text-blue-500">30g</p></div>
        <div class="bg-primary-50 rounded-md p-3 text-center"><h3 class="text-neutral-950">Carboidratos</h3>
          <p class="text-xl font-bold text-green-500">25g</p></div>
        <div class="bg-primary-50 rounded-md p-3 text-center"><h3 class="text-neutral-950">Gorduras</h3>
          <p class="text-xl font-bold text-yellow-500">15g</p></div>
      </div>
      <div class="bg-primary-50 rounded-md p-3 mt-4 text-center"><h3 class="text-neutral-950">Calorias</h3>
        <p class="text-xl font-bold text-neutral-950">400 kcal</p></div>
    </section>
    <section class="mb-6">
      <div data-chart="chart_0"></div>
    </section>
    <section class="flex flex-col gap-2">
      <button class="bg-primary-500 text-primary-50 py-2 rounded-md w-full">Salvar</button>
      <button class="bg-neutral-950 text-neutral-50 py-2 rounded-md w-full">Novo Registro</button>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>new ApexCharts(document.querySelector('[data-chart="chart_0"]'), {
    "labels": ["Proteínas", "Carboidratos", "Gorduras"],
    "colors": ["#7341ff", "#22c55e", "#eab308"],
    "chart": {"type": "pie", "width": "100%", "height": "200px", "toolbar": {"show": false}},
    "dataLabels": {"enabled": true},
    "series": [30, 25, 15]
  }).render();</script>
</div>
